body{
    margin: 0;
    padding: 0;
}


/* header section */

.header{
    background-color: #FFF4E7;
    padding: 20px 0;
    /* height: 100vh; */
    /* z-index: 1; */
}
nav{
    display: flex;
}
.header_div_1{
    justify-content: center;
    text-align: center;
}
.header_btn{
    height: 50px;
    width: 150px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}
.header_btn>a{
    text-decoration: none;
    color: #FFF4E7;

}
.header_div_2{
    margin: 30px 0;
    /* justify-content: center; */
    text-align: center;

}
.header_div_2 > img {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 1000px;
  height: auto;
  
}


/* section second */
.section_one{
    display: flex;
    /* gap: 7px; */
    justify-content: center;
    text-align: center;
    margin: 80px auto;
    width: 70%;
}

.section_2nd_1st_div{
    width: 55%;
}

.section_2nd_img{
    height: 225px;
    width: 230px;
    margin: 5px;
}

.section_2nd_2nd_div{
    width: 45%;
}
.section_2nd_texts{
    width: 400px;
    text-align: left;
    margin: 20% 0;
    padding: 0 10px;

}
.section_2nd_texts>h2{
    font-size: 30px;
}
.section_2nd_texts>p{
    font-size: 20px;
    line-height: 25px;
    color: #727272;
}

/* section two starts */
.section_two{
    margin: 80px auto;
    width: 80%;
    display: flex;
    /* justify-content: center;
    text-align: center; */
    /* margin: 80px auto; */
}
.section_two_left{
    width: 50%;
    padding: 10px 20px;
    /* z-index: 2; */
}
.section_two_border{
    height: 85px;
    /* width: 300px; */
    border-left: 4px solid #FF900E;
}
.section_two_heading{
    padding: 5px 20px;
    font-size: 35px;
    font-weight: 600;
    /* border-left: 3px solid #FF900E; */

}
.box{
    height: 115px;
    width: 375px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px 5px #F9F9F9, 5px 6px 30px 5px #F9F9F9;
}

.section_two_right{
    width: 50%;
    height: 900px;
    background-image: url(images/architect.png);
    /* background-size: cover; */
    background-position: 90%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    border-radius: 5px;
    /* z-index: 1; */
}

.experience{
    height: 140px;
    width: 200px;
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 830px;
    margin-left: -110px;
    padding-left: 70px;
    align-items: center;
    justify-content: center;
}
.experience_1st_p{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 800;
    margin: 0 !important;
    padding-top: 30px !important;
    justify-content: center;
    align-items: center;
}
.experience_2nd_p{
    font-size: 25px;
    font-weight: 400;
    /* margin: 40px 0 0 0 !important; */
    margin: 0 !important;
    /* padding: 0 !important; */
    justify-content: center;
    align-items: center;
    padding-left: 25px;

}


/* section two ends */











