body{
    margin: 0;
    padding: 0;
}


/* header section */

.header{
    background-color: #FFF4E7;
    padding: 20px 0;
    /* height: 100vh; */
    /* z-index: 1; */
}
nav{
    display: flex;
}
.header_div_1{
    justify-content: center;
    text-align: center;
}
.header_btn{
    height: 50px;
    width: 150px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}
.header_btn>a{
    text-decoration: none;
    color: #FFF4E7;

}
.header_div_2{
    margin: 30px 0;
    /* justify-content: center; */
    text-align: center;

}
.header_div_2 > img {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 1000px;
  height: auto;
  
}


/* section second */
.section_one{
    display: flex;
    /* gap: 7px; */
    justify-content: center;
    text-align: center;
    margin: 80px auto;
    width: 70%;
}

.section_2nd_1st_div{
    width: 55%;
}

.section_2nd_img{
    height: 225px;
    width: 230px;
    margin: 5px;
}

.section_2nd_2nd_div{
    width: 45%;
}
.section_2nd_texts{
    width: 400px;
    text-align: left;
    margin: 20% 0;
    padding: 0 10px;

}
.section_2nd_texts>h2{
    font-size: 30px;
}
.section_2nd_texts>p{
    font-size: 20px;
    line-height: 25px;
    color: #727272;
}




/* Media Query */

/* header starts */

@media screen and (max-width: 576px) {
    body{
        margin: 0;
        padding: 0;
    }
    .header_div_1{
    justify-content: center;
    text-align: center;
}
    .header_div_2{
        margin: 10px 0;
    }
    .header_div_2 > img{
        max-width: 90%;
        height: auto;
        border-radius: 4px;
    }

/* header ends */

/* section one starts */
.section_one{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.header_div_2 > img{
        width: 100%;
        height: auto;
        /* height: 300px; */
        width: 450px;
        border-radius: 4px;
    }

.section_2nd_1st_div, .section_2nd_1st_div{
    width: 100%;
}
.section_2nd_2nd_div{
    margin: 5px 15px;
}


/* section one ends */
    
}
